/* global style */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: 'Roboto';
  color: rgb(82, 82, 82);
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(236, 238, 241);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 3rem 2rem;
}

/* header */

.sign-in-container {
  display: grid;
  grid-template: auto / auto auto;
  justify-content: end;
  align-items: center;
  justify-items: center;
}

.sign-in-container p,
.sign-in-container a {
  font-size: 1.2rem;
}

.sign-in-container a {
  text-decoration: none;
  color: rgb(0, 119, 197);
}

.sign-in-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  grid-column: 2;
  grid-row: 1 / 3;
  height: 3.4rem;
  width: 10rem;
  border-radius: 5px;
  border: 1px solid rgb(82, 82, 82);
  background-color: rgb(0, 119, 197);
}

.sign-in-btn span {
  font-size: 1.3rem;
  color: #fff;
}

.lock-img {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: -6px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
  margin: 2rem 0;
  background-color: crimson;
}

/* footer */

footer {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
}

footer li {
  display: inline-block;
}

footer li + li {
  padding-left: 1rem;
}

footer a {
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
}

/* aside */

aside {
  position: absolute;
  right: 5%;
  bottom: 0;
}

aside button {
  height: 4rem;
  width: 12rem;
  font-size: 1.4rem;
  border: 0;
  border-radius: 3px;
  background-color: rgb(107, 108, 114);
  color: #fff;
}
